@import 'variables';
@import 'mixins';
@import 'components';

body {
  font-family: $font-primary;
  margin: 0;
  background: $bg-page;
  color: $text-main;
  font-size: 14px;

  @include respond-to($breakpoint-tablet) {
    font-size: 15px;
  }

  @include respond-to($breakpoint-desktop) {
    font-size: 16px;
  }
}

.demo-scss-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacing-md;
}
